<div class="component-games">
    <div class="about">
        <h2>GIỚI THIỆU</h2>
        <p>Chào mừng bạn, ghé thăm website của mình!</p>
        <p>
            Ở đây chứa các "project mini" luyện tập của mình. Trong các danh
            sách bên dưới, gồm có "demo" và "source github repo (contact
            facebook)" để tải về vọc *_^, trong tương lai sẽ còn nhiều hơn nữa!
        </p>
        <p>
            Ngoài ra, sẽ có các chủ đề khác hay một số "projects" khác về sau.
        </p>
        <h4>Cập nhật: 2023-09-08</h4>
    </div>

    <div class="list-pages-demo">
        <a
            href="html_extends/Tower-Defense/index.html"
            target="_blank"
            rel="noopener noreferrer"
        >
            <pre>
                Tower Defense
                Website / Mobile

                Sử dụng mouse để chơi
            </pre>
        </a>
    </div>
</div>
