.component-games {
    color: black;
    font-size: medium;
    font-weight: 500;
}

.component-games .about h2 {
    margin-bottom: 20px;
}

.component-games .about p {
    margin-bottom: 20px;
}

.component-games .list-pages-demo {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

.component-games .list-pages-demo a {
    width: 300px;
    height: 170px;
    border: 1px dashed black;

    align-items: center;
    border-radius: 10px;
    /* color: #01a2e8; */
    display: flex;
    height: 166px;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}
