[submodule "libs/pxhjs"]
	path = libs/pxhjs
	url = https://github.com/kitajima2910/pxhjs.git
[submodule "libs/create-app-pxhjs"]
	path = libs/create-app-pxhjs
	url = https://github.com/kitajima2910/create-app-pxhjs.git
