{
    "semi": false,
    "singleQuote": true,

    "tabWidth": 4,
    "useTabs": false,

    "plugins": ["prettier-plugin-astro", "prettier-plugin-multiline-arrays"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],

    "printWidth": 120,
    "multilineArraysWrapThreshold": 1
}
