@import "tailwindcss";
@plugin "daisyui";

/* HTMX Loading State Styles */
.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline-block;
}
.htmx-request .submit-text {
  display: none;
}
