@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

input:not([type='file']),
select {
	border: 1px solid #e2e2e7;
	border-radius: 5px;
	padding: 4px 8px;
}

button {
	background-color: #7fa2b9;
	color: white;
	padding: 12px;
	cursor: pointer;
	border-radius: 5px;
}
