@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}

/* Adding custom utility */
@layer utilities {
	.hover-rgb:hover {
		background: linear-gradient(
			45deg,
			rgba(255, 0, 0, 0.1),
			rgba(0, 255, 0, 0.1),
			rgba(0, 0, 255, 0.1)
		);
	}

	.wrapper-box-card {
		display: grid;
		justify-items: center;
		gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		list-style-type: none;
	}

	.box-card {
		cursor: pointer;
		width: 250px;
		height: 150px;
		border-width: 1px;
		border-style: dashed;
		border-color: #1e5b66;
		border-radius: 5px;
		padding: 20px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	.box-card:hover {
		background: linear-gradient(
			45deg,
			rgba(255, 0, 0, 0.1),
			rgba(0, 255, 0, 0.1),
			rgba(0, 0, 255, 0.1)
		);
	}
}
