@import "tailwindcss";
@plugin "daisyui";

/* Custom Utility */
@layer utilities {
    .ring-glow {
        box-shadow: 0 0 20px 5px rgba(220, 165, 76, 0.4);
    }
}

html, body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
}
