@import "tailwindcss";

@plugin "daisyui" {
    themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}

/* Custom Utility */
@layer utilities {
    .ring-glow {
        box-shadow: 0 0 20px 5px rgba(220, 165, 76, 0.4);
    }
}

html,
body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
}