@import 'tailwindcss';

/* Defaults to weight 400 */
@import '@fontsource/montserrat';
/* Specify weight */
@import '@fontsource/montserrat/400.css';
/* Specify weight and style */
@import '@fontsource/montserrat/400-italic.css';

html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* font-family: 'Montserrat'; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a[aria-current='page'] {
    text-decoration: underline;
}

pre.astro-code.github-dark {
    border-radius: 10px;
    padding: 20px;
}
