*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    color: #333;
    background-color: #EEF4F7;
    padding: 20px;
}

/* Content */
.content {
    margin-top: 20px;
    /* padding: 20px; */
}
