*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    color: #333;
    text-align: center;
    padding-top: 60px;
    background-color: white;
    
}

/* Navbar */
.nav-link {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}


/* Content */
.content {
    margin-top: 80px;
    padding: 20px;
}
