body nav {
    display: flex;
    align-items: center;
}

body nav .logo {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

body nav .logo img[alt="Virtual Numbers"] {
    width: 130px;
}

body nav .navLink {
    color: #000;
    font-weight: 700;

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body nav .navLink a {
    margin: 30px;

    cursor: pointer;

    color: #000;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: rgba(1, 162, 232, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 128, 40, 0.3);
}
