.cards-grid {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    /* border: 1px solid #ddd; */
}

.cards-grid .description {
    text-align: center;
    color: #837e7e;
    max-width: 720px;
    letter-spacing: 0.5px;
    margin: 20px auto;
    padding-bottom: 40px;
}

.cards-grid .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-grid .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
}

.cards-grid .cards .card img {
    width: 42px;
    aspect-ratio: 42 / 42;
    object-fit: contain;
}

.cards-grid .cards .card h3 {
    font-size: 14px;
    text-align: center;
}