.hero-cta {
    background-image: url('bg_special.avif');
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 30px;
    padding-bottom: 45px;
}

.title {
    text-align: center;
    color: white;
}

.description {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.button {
    text-align: center;
}

.button button {
    background-color: #db4533;

    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    cursor: pointer;
}
