.get-the-invite {
    background-color: #f2f2f2;
    border: 1px solid #000;

    width: 100%;
    max-width: 1024px;

    margin: 0 auto;
}

.get-the-invite .icon {
    border: 2px solid #5ac6d0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-top: 30px;
}

.get-the-invite .icon i {
    color: #5ac6d0;
    font-size: 20px;
}

.get-the-invite .title {
    text-align: center;
}

.get-the-invite .description {
    text-align: center;
}

.get-the-invite .input {
    text-align: center;
    padding-bottom: 20px;
}

.get-the-invite form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}

.get-the-invite form input {
    width: 100%;
    max-width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.get-the-invite form button {
    padding: 10px;
    border-radius: 5px;
    background-color: #5ac6d0;
    border: none;
    color: #fff;
}
