.banner {
    width: 190px;
    height: 50px;
    background-color: #8598cc;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: #fff;
}

.headline {
    text-align: center;
}

.headline h2 {
    font-size: 30px;
}

.headline h2 span {
    color: #00aeef;
}

.sub-headline {
    text-align: center;
}

.group-button {
    text-align: center;
}

.group-button .button-1 {
    margin-right: 10px;
}

.group-button .button-1,
.group-button .button-2 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.group-button .button-1:hover,
.group-button .button-2:hover {
    background-color: #00aeef;
}
